<% @messages.each do |message| %>
  <div class="grid-item card">
      <div class="card-header">
        <h4><%= link_to message.title, message_path(message) %></h4>
        <p><%= message.message_type %></p>
      </div>
      <div class="card-body">
        <ul>
          <li><%= message.description %>
            <% if message.description.length > 216 %>
              <%= link_to "read more...", message_path(message), class: "content-fade text-center" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="card-footer">
      <p class="text-end text-discreet">Scheduled for <%= message.ultimate_date.strftime('%B %d, %Y') %></p>
      </div>

  </div>
<% end %>
