<% @messages.each do |message| %>
  <div class="card m-2 p-2">
    <%= link_to message_path(message), style: "text-decoration: none;" do %>
      <div class="card-header">
        <h2 class="card-title"><%= message.title %></h2>
      </div>
      <div class="card-body">
        <ul>
          <li><%= message.message_type %></li>
          <li><%= message.description %></li>
          <%# <li>Check-in interval: <%= message.user_cheking %></li>
          <%# <li>Tolerance: <%= message.tolerance_days %></li>
          <li>Programmed Date: <%= message.ultimate_date %></li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
