<div class="container form-container">

    <% if message.id.present? %>
      <h2>Edit your message</h2>
    <% else %>
      <h2>Create a new message</h2>
    <% end %>

    <%= simple_form_for @message, html: {data: {controller: "message-form"}} do |f| %>

      <%= f.input :title %>
      <%= f.input :message_type, collection: Message::MESSAGE_TYPE.keys, prompt: "Select a message type",
        input_html: { data: { action: "change->message-form#displayDate" } } %>
      <%= f.input :ultimate_date,
            label: "Delivery date",
            as: :string,
            wrapper_html: { class: "d-none", data: { message_form_target: "messageDate" } },
            input_html: { data: { controller: "datepicker" } }%>
      <div class="field">
        <%= f.label :description %>
        <%= f.rich_text_area :description %>
      </div>



      <%= f.button :submit, class: "btn "%>

        <% end %>
      </div>
    </div>
  </div>
</div>
