<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>all your messages</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= receive.name %></td>
        <td><%= message.message_type %></td>
        <td><%= message.user_checking %></td>
        <td><%= message.last_checking_at %></td>
        <td><%= link_to 'Show', receive %></td>
        <td><%= link_to 'Edit', edit_receive_path(receive) %></td>
        <td><%= link_to 'Destroy', receive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Receive', new_receive_path %>
