<h1 class="padding">My messages</h1>
  <div class="card-grid w-50">
    <% @messages.each do |message| %>
      <div class="card m-2">
        <div class="card-body">
        <h2> <%= link_to message.message_type, message_path(message)%></h2>
          <h5 class="card-title">Message Type: <%= message.message_type %></h5>
          <p class="card-text">User Checking: <%= message.user_cheking %></p>
          <p class="card-text">Programmed Date: <%= message.ultimate_date %></p>
          <p class="card-text">Within: <%= message.tolerance_days %></p>
        </div>
      </div>
    <% end %>
  </div>
