<h1>My Messages teste</h1>
<% @messages.each do |message| %>
<div class="card">
    <div class="card-header">
    <h3><%= message.title %></h3>
    </div>
    <div class="card-body">
    <ul>
      <li><%= message.message_type %></li>
      <li>Message<br><%= message.description %></li>
      <li>User Check-in<br><%= message.user_cheking %></li>
      <li>Last Check-in At<br><%= message.last_checking_at %></li>
      <li>Tolerance Days<br><%= message.tolerance_days %></li>
      <li>Ultimate Date<br><%= message.ultimate_date %></li>
      <li>User ID<br><%= message.user_id %></li>
    </ul>
    </div>
    <div class="card-footer">
    </div>
    </div>
    <% end %>


<br>

<%= link_to 'Back', receives_pali %>
