<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Create a new message</h3>
      <%= simple_form_for @message do |f| %>
        <%= f.input :message_type, collection: Message.message_types.keys, prompt: "Select a message type" %>
        <%= f.input :description %>
        <%= f.input :user_cheking %>


      <%= f.input :last_checking_at,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

      <%# NAO PODE SER MENO QUE last_checking_at %>
      <%= f.input :ultimate_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

      <%= f.select :tolerance_days, (1..5), prompt: "Select tolerance days" %>

         <%# CASO O RECEIVE JA EXISTE %>
        <%# <%= f.input :user_id, collection: User.pluck(:email, :id), prompt: "Select a user" %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
