<div class="grid"><h1>Título: <%= @message.title %></h1> <p><%= @message.message_type %></p>
  <% @message %>
  <div class="card my-messages">
    <ul>
      <li></li>
      <li>Description: <%= @message.description %></li>
      <%# <li>Check-in interval: <%= @message.user_cheking days</li> %>
      <%# <li>Tolerance: <%= @message.tolerance_days days past the last check-in</li> %>
      <li>Programmed Date: <%= @message.ultimate_date %></li>
    </ul>

    <% if @message.receive_messages.present? %>
        <h3>Recipients</h3>
        <ul class="recipients-list">
        <% @message.receive_messages.each do |receive_message| %>

          <li> <%# RECIPIENT LIST ITEM %>
          <%= receive_message.receive.name %> <span>(<%= receive_message.receive.email %>)</span>  <%= link_to "edit", edit_receife_path(receive_message.receive, message: @message) %> |
            <%= link_to "delete", receive_message_path(receive_message), data: {turbo_confirm: "Are you sure you want to delete?", turbo_method: :delete } %>
          </li>

        <% end %>
      </ul>
    <% end %>
  </div>

    <div class="actions">
        <%= link_to message_path(@message), data: { turbo_confirm: "Are you sure you want to delete?", turbo_method: :delete }, class: "btn btn-danger", method: :delete do %>
          Delete
        <% end %>
        <%= link_to edit_message_path(@message), data: { turbo_confirm: "Do you want to update?" }, class: "btn " do %>
          Edit
        <% end %>
          <%= link_to "Create recipient", new_message_receive_message_path(@message, message: @message), method: :post, class: "btn " %>
      </div>
  </div>
</div>
<%# <%= link_to 'New Receive', new_receive_path %>
<%# link_to 'Edit', edit_message_path(@message) %>
<%# link_to 'Back', messages_path %>
