<p>
  <strong>Title:</strong>
  <%= @receive.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @receive.text %>
</p>

<%= link_to 'Edit', edit_receive_path(@receive) %> |
<%= link_to 'Back', receives_path %>


<%= link_to order_path(order), data: { turbo_confirm: "Tem certeza que CANCELAR sua ORDEM ?", turbo_method: :delete } do %>
      <i class="fa-solid fa-circle-xmark"></i>
    <% end %>


