<h1>Messages</h1>

<% @message %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Message Type: <%= @message.message_type %></h5>
      <p class="card-text">Description: <%= @message.description %></p>
      <p class="card-text">User Checking: <%= @message.user_cheking %></p>
      <p class="card-text">Programmed Date: <%= @message.ultimate_date %></p>
      <p class="card-text">Within: <%= @message.tolerance_days %></p>
      <div class="actions">
        <%= link_to message_path(@message), data: { turbo_confirm: "Are you sure you want to delete?", turbo_method: :delete }, class: "btn btn-danger", method: :delete do %>
          Delete
        <% end %>
        <%= link_to edit_message_path(@message), data: { turbo_confirm: "Do you want to update?" }, class: "btn btn-primary" do %>
          Edit
        <% end %>
      </div>
    </div>
  </div>
<%# <%= link_to 'New Receive', new_receive_path %>


<%# link_to 'Edit', edit_message_path(@message) %>
<%# link_to 'Back', messages_path %>
