<div class="container form-container">
<h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.input :fullname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Full Name" }, label: "Full Name" %>

  <%= f.input :birthday,
              required: true,
              autofocus: true,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>

   <%= f.input :gender,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "gender" },
                collection: ['Male', 'Female', 'Prefer not to say'] %>

   <%= f.input :user_cheking, collection: [['15 days', 15], ['30 days', 30], ['60 days', 60], ['90 days', 90]], label: "Checking in days" %>

   <%# NAO PODE SER MENO QUE last_checking_at %>
   <%# f.input :tolerance_days, collection: (1..5), label: "Select tolerance days" %>
   <%= f.input :tolerance_days, collection: (1..5).map { |num| ["#{num} #{'day'.pluralize(num)}", num] }, label: "Select tolerance days" %>

   <%= f.input :document_type,
                required: true,
                autofocus: true,
                prompt: "Select a document",
                collection: User::DOCUMENT_TYPE_OPTIONS,
                # collection: User::DOCUMENT_TYPE_OPTIONS,
                input_html: { autocomplete: "document_type" }%>

   <%= f.input :document_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "document_number" }%>

   <%= f.input :phone_number,
                required: true,
                autofocus: true,
                label: "Telefone",
                placeholder: "+XXX XXXX-XXXX",
                input_html: { autocomplete: "phone_number" } %>

   <%= f.input :post_code,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "post_code" }%>
   <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
   <%= f.input :city,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "city" }%>
   <%= f.input :country,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "country" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
