<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= @message.description %>
    <div class="card-body bg-white p-3">

      <%= simple_form_for([@message, @receive_message]) do |f| %>

        <%= f.association :receive, label: "Add a receiver already in you base" %>
        <%= f.submit "Add Receiver", class: "btn btn-success" %>
      <% end %>
      <p>*********</p>
        <p>Create a new receiver whom is not in your base</p>
        <%= link_to "Create a receiver", new_receife_path(message: @message), method: :post, class: "btn btn-primary" %>
        <%= link_to "+", new_receife_path, method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
