<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= @message.description %>
    <div class="card-body p-3">

      <%= simple_form_for([@message, @receive_message]) do |f| %>

        <%= f.association :receive, label: "Add recipient" %>
        <%= f.submit "Add recipient", class: "btn btn-success" %>
      <% end %>
        <p>Add a new recipient</p>
        <%= link_to "Add a new recipient", new_receife_path(message: @message), method: :post, class: "btn " %>
        <%= link_to "+", new_receife_path, method: :post, class: "btn " %>
      </div>
    </div>
  </div>
</div>
