<div class="container form-container">
  <h3><%= @message.title %></h3>
  <p><%= @message.description %></p>

  <%= simple_form_for([@message, @receive_message]) do |f| %>
    <%= f.association :receive, label: "Add a recipient to this message", collection: current_user.receives %>
    <%= f.submit "Add recipient", class: "btn btn-last" %>
  <% end %>

</div>

<div class="container form-container">
  <p>Add a new recipient to your account</p>
  <%= link_to "Add a new recipient", new_receife_path(message: @message), method: :post, class: "btn btn-last" %>
</div>
