<div class="container form-container">

  <% if receive.id.present?%>
    <h2> Update your recipient's information</h2>
  <% else %>
    <h2>Add a new recipient</h2>
  <% end %>

  <%= simple_form_for(receive) do |f| %>

    <%= f.input :name, label: "name" %>
    <%= f.input :email, label: "email" %>
    <%= f.input :relationship, label: "relationship" %>
    <%= f.input :phone_number, label: "Phone Number" %>
    <%= f.input :additional_info, label: "additional Info" %>
    <%=
    f.input :message_id, :as => :hidden, :input_html => { value: params[:message] }
    %>
    <%= f.submit receive.id.present? ? "Save" : "Add new recipient",  class: "btn btn-last" %>

  <% end %>

</div>
